<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%level %logger %msg %n</pattern>
		</encoder>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<includeCallerData>true</includeCallerData>
		</encoder>
	</appender>

	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="stdout_json" />
	</logger>

	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="trace" additivity="false">
		<appender-ref ref="stdout_json" />
	</logger>

	<logger name="no.nav" level="info" additivity="false">
		<appender-ref ref="stdout_json" />
	</logger>

	<root level="info">
		<appender-ref ref="stdout_json" />
	</root>

</configuration>
